<mat-toolbar color="accent" class="toolbar mat-elevation-z6">
  <div class="container">
    <span>Registro de veículos</span>
    <div>
      <a href="#" mat-button routerLink="/">Veículos</a>
      <a href="#" mat-button routerLink="/add">Adicionar veículo</a>
    </div>
  </div>
</mat-toolbar>

<div class="app-wrapper">
  <div class="container">
    <main class="main-content-inner">
      <section class="content-area">
        <router-outlet></router-outlet>
      </section>
    </main>
  </div>
</div>
