.app-wrapper {
  background-color: #fafafa;
  padding: 100px 50px;
  min-height: 100vh;
}

.toolbar {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;

  .container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}
